<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="7D2DVersion" value="A21.1"/>
    <add key="7D2DVersionString" value="0.2101.16.0"/>
  </appSettings>
</configuration>